.box{
    /* largura pode ser usado w(largura)*/
    width: 50%; 

    /* altura pode ser usado h(altura)*/
    min-height: 150px; 
    /* min-height: deixa com a altura minima, mas a partir do momento que passa a altura, ele expande; */
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    /* border-width: 10px; */
    /* border-style: solid; */
    /* border-color: #000; ---> evitar usar */
    border: 10px solid #900; 
    /* usar o modelo acima ^ */
}

/* .a{
    background-color: red;
    width: 50%;
} */

.bg_red{
    background-color: #900;
}
.bg_blue{
    background-color: #369;
}

.bg_orange{
    background-color: #f60;
}

#big{
    width: 500px;
    height: 400px;
    background-color: #290;
    
}

.view{
    width:100%;
    height: 100vh;
    background-color: #000;

    /* vw - viewport width 1vw= 
    1% da largura do viewport | 10vw = 10% da largura do VW | 50VW = 50% largura do VW

     */

    /*vh - viewport height 
    
    1vh = 1% da altura do ViewPort | 10vh = 10% da altra do VW | 50vh = 50% da altura do vW*/
}