header{
    background: #BBBBBB;
    padding: 20px 0;
    }

body{
    font-family: 'Montserrat', sans-serif;
}
    
.container{
    position: relative;
    width: 940px;
    margin:  0 auto;
}
    
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
    
nav li{
    display:inline;
    margin: 0 0 0 15px;    
}
    
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    transition: 0.5ms;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block; 
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.horariodeatendimento{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.enviar:hover{
    transform: scale(1.2);

    transition: 0.2s;
    cursor: pointer;
}

.enviar:active{
    background-color: yellowgreen;
    transition: 1ms;
}

table{
    margin: 20px 0 40px;     
}

th{
    background-color: #555;
    font-weight: bold;
    color: white;            
}

td,th{
    padding: 15px 10px;
    font-weight: bold;
    border: 1px solid #000000;        
}

footer{
    text-align: center;
    background: url(../images/bg.jpg);
    padding: 40px 0;    
}

.texto_copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0 0;
}

@media screen and (max-width:480px) {
    .container, .formulario-completo, .input-padrao,.checkbox,.enviar{
        width:auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    } 

}