body {
    background: linear-gradient(#b82b2bbb, #b92121c7,#e04d21);   
        
}

section {
    display: block;
    background-color:#FEFEFE;
    border-radius: 5px;
    padding: 1em;
    width: 98%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
    
}

h1 {
    text-align: center;
    color:#000000;
    font-size: 45px;   
    
}

.favoritetech{
 text-align: center;
}

.favoritetech,.secondaryTitle  {
    color:#b82b2bbb;
    font-size: 26px;
    border-radius: 5px;    
    margin: 10px;
    width: 98%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
    text-align: center;
}

.text {
    font-size: 18px;
}



.images{
    /*display: flex;
    justify-content: space-around;
    width: 400px;
    object-fit: cover;       
    box-shadow: 5px 5px 10px #000000;   
    margin: 10em 3em;       
    border-radius: 40px;*/
    display: inline-block;
    width: 300px;   
    object-fit: cover;
    margin: 0 1.5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #000000;
   }
